<h4 ng-show="!students.length">There are no students</h4>
<h4 ng-show="students.length">Students who are not here:</h4>

<li ng-repeat="item in studentsSignedOut = (students | filter:{signedIn: false})">
    {{ item.name }} <a ng-click-"signStudentIn(item)">sign me in</a>
</li>









<!--
<div class="col-md-6" ng-show="studentsWithoutPermission.length">
     <h3>Without Permission Slips</h3>
     <ul>
       <li ng-repeat="item in studentsWithoutPermission = (students | filter:{permissionSlip: false})">
         {{item.name}} <a ng-click="addStudentWithPermissionSlip(item)"> - received permission slip -</a>
       </li>
     </ul>
   </div>
   <div class="col-md-6" ng-show="studentsWithPermission.length">
     <h3>With Permission Slips</h3>
     <ul>
       <li ng-repeat="item in studentsWithPermission = (students | filter:{permissionSlip: true})">
         {{item.name}}
       </li>
     </ul>
   </div> -->
